.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 93px 0;
}

#services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61%;
}

.service-name {
    position: absolute;
    top: -122px;
}

.service-name h3 {
    margin: 0;
    margin-left: -135px;
}

.chart {
    width: 50%;
}

.information {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    padding: 64px;
    position: relative;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart img {
    width: 145%;
    margin-left: -147px;
    max-width: none;
}

.information h4 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1vw;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    font-family: "Jura";
    color: #4172aa;
    text-align: justify;
    font-size: 2.1rem;
    text-decoration: underline;
}

.arrows {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 51px;
}

.arrows img {
    width: 80px;
}