.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61%;
    height: 100%;
}

.service-name {
    /* position: absolute;
    top: -122px;
    right: 482px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 61%;
    padding: 42px 153px;
}

.service-name h3 {
    margin: 0;
    margin-right: 66px;
}

.changing-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36.7vw;
}

.chart {
    width: 50%;
}

.information {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: flex-start;
    padding: 1vw 4vw;
    position: relative;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart img {
    width: 136%;
    margin-left: -8.8vw;
    max-width: none;
}

.information h4 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1vw;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    font-family: "Jura";
    color: #4172aa;
    text-align: justify;
    font-size: 2.1rem;
    text-decoration: underline;
}

.arrows {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows-services {
    width: 61%;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10vw;
}

.arrows-services-mobile {
    display: none;
}

.arrows-services img {
    width: 4.8vw;
}

.services-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 61%;
    margin-top: 30px;
}

.services-two h5 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 15px;
    color: inherit;
    font-family: "Russo One";
    color: white;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.1;
    letter-spacing: 3px;
}

.services-two h4 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1vw;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    font-family: "Jura";
    color: #0573ad;
    text-align: justify;
    font-size: 2.1rem;
    text-decoration: underline;
}

.expertise-squares {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin: 20px 0;
}

.expertise-yellow {
    background-color: #e0c457;
    margin: 5px;
    height: 13.3vw;
    width: 14.1vw;
    padding: 1.3vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 14px;
}

.expertise-yellow li {
    list-style: none;
    margin: 0;
    margin-bottom: 1px;
    font-family: "Jura";
    color: black;
    font-size: 0.89vw;
    text-align: center;
    line-height: 1.6vw;
}

.expertise-yellow ul {
    list-style: none;
    margin: 0;
}

.service-two-desc {
    width: 72%;
}

.description-short-two {
    padding-left: 43px;
}

/*  IPAD STYLES  */
@media (max-width: 768px) {
    #services {
        width: 78%;
    }

    .chart img {
        width: 123%;
        margin-left: -4.8vw;
    }

    .service p {
        font-size: 1.75vw;
        line-height: 2.3vw;
        text-align: left;
    }

    .changing-content {
        height: 57.7vw;
    }

    .arrows-services img {
        width: 6.8vw;
    }

    .arrows-services {
        padding-right: 5vw;
    }

    .services-two {
        width: 82%;
        margin-top: -13px;
    }

    .description-short-two {
        padding-left: 0;
    }

    .description-short-two p {
        font-size: 1.65vw;
        line-height: 2vw;
    }

    .services-two h5 {
        text-align: center;
    }

    .expertise-yellow {
        height: 18.3vw;
        width: 19.1vw;
    }

    .expertise-yellow li {
        font-size: 1.5vw;
    }
}

/*  MOBILE STYLES  */
@media (max-width: 414px) {
    .services-container {
        margin: 57px 0;
    }
    
    #services {
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }

    .service p {
        font-size: 3.9vw;
        line-height: 5.85vw;
        text-align: justify;
    }

    .description-short-two p {
        font-size: 3.9vw;
        line-height: 5.85vw;
    }

    .changing-content {
        height: auto;
        width: 100%;
    }

    .chart {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chart img {
        width: 80%;
        margin-left: 0;
        max-width: 100%;
        margin-bottom: 0;
    }

    .arrows-services-mobile img {
        width: 18.8vw !important;
    }

    .information {
        padding: 0 64px;
        width: 100%;
    }

    .service-name {
        width: 100%;
        align-items: center;
        padding: 0;
    }

    .service-name h3 {
        margin-left: 0;
        font-size: 2rem;
    }

    .service-name h2 {
        font-size: 2.8rem;
    }

    .arrows-services {
        display: none;
    }

    .arrows-services-mobile {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0;
        justify-content: center;
        margin-top: 20px;
    }

    .services-two {
        width: 100%;
    }

    .services-two h5 {
        padding: 0 34px;
    }

    .service-two-desc {
        width: 100%;
        padding: 0 34px;
    }

    .description-short-two {
        padding-left: 0;
    }

    .expertise-squares {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        padding: 0px 10px;
    }

    .expertise-yellow {
        height: 225px;
        width: 234px;
        padding: 23px;
    }

    .expertise-yellow li {
        font-size: 16px;
        line-height: 1.5;
    }
    
}