body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url('../assets/Blog/BG-BLOG-WANCLOUDS.jpg') !important; */
  /* Background image is centered vertically and horizontally at all times */
  background-position: top center !important;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat !important;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover !important;
  
  /* Set a background color that will be displayed
     while the background image is loading */
}

.blog-content small {
  font-size: 1vw;
  font-family: "Jura";
  color: #066EAD;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  font-weight: 800;
}

.container {
  position: relative;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-photo img {
  margin-bottom: 1.45rem;
  margin-top: 1.45rem;
  width: 100%;
}

.blog-content {
  width: 69%;
  position: relative;
}

.social-button {
  position: relative;
  z-index: 20;
  margin-right: 10px;
}

.wrapper h4 {
  font-family: "Russo One";
  color: #dfba2c;
  text-rendering: optimizeLegibility;
  font-size: 1.45rem;
  line-height: 1.1;
  letter-spacing: 3.3px;
  font-weight: 100;
  margin-bottom: 0;
}

.blog-content p {
  color: black;
  font-weight: 600;
  line-height: 1.6rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}

.like {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 32%;
  height: 100%;
}

.sharing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 65%;
  height: 100%;
}

.like-button {
  margin-bottom: 0;
  width: 50px;
}

.like p {
  margin: 0;
  margin-left: 10px;
  color: #066EAD;
}

.comments {
  width: 68%;
  position: relative;
  z-index: 5;
  margin: 83px 0;
}

.comment-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Jura";
  color: black;
  text-align: justify;
  margin: 4px;
}

input {
  height: 45px;
  background-color: transparent;
  border-color: #066ead;
  border-style: solid;
  border-width: 1.5px;
  padding: 8px;
}

textarea {
  overflow: auto;
  background-color: transparent;
  border-color: #066ead;
  border-style: solid;
  border-width: 1.5px;
}

#title {
  position: absolute;
  top: 0vw;
  width: 100%;
  z-index: 0;
}

#wan-journal {
  position: absolute;
  width: 42vw;
  height: 18vw;
  top: 17.5vw;
  right: 20vw;
  z-index: 5;
}

#disqus_thread {
  width: 100%;
}

/*  IPAD STYLES  */
@media (max-width: 1024px) {
  .blog-content {
    width: 78%;
  }

  .blog-content p {
    font-size: 1.85vw !important;
    line-height: 2.5vw !important;
  }

  .author-section {
    max-width: 100%;
  }

  .author-section .photo .image-cropper {
      width: 21vw !important;
      height: 21vw !important;
  }

  .author-info h1 {
    font-size: 4vw !important;
    margin-bottom: 2rem !important;
  }

  .author-info p {
    font-size: 1.7vw;
  }

  .author-info {
    width: 50vw !important;
  }
  
  .photo {
    margin: 21px !important;
  }

  .section-contact .left-post {
    max-width: 34vw !important;
    margin-left: 17vw !important;
    padding-right: 0 !important;
  }

  .post-contact h4 {
    font-size: 2vw !important;
  }
}

@media (max-width: 414px) {
  .blog-content {
    width: 100%;
    padding: 34px;
  }

  .blog-content p {
    line-height: 1.6rem !important;
    font-size: 3.9vw !important;
  }

  .author-info p {
    font-size: 3.9vw;
  }

  .section-headline {
    line-height: 1.1;
    margin: 0;
  }

  .author-section {
    width: 100%;
    margin-top: 0 !important;
    flex-direction: column;
  }

  .photo {
    margin: 0px !important;
  }

  .author-info {
    width: 100% !important;
    padding: 0 34px;
  }

  .author-info h1 {
    margin: 20px 0 !important;
    line-height: 1;
  }

  .comments {
    width: 100%;
    padding: 0 14px;
  }

  .comments h1 {
    line-height: 1;
  }

  .section-contact .left-post {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 34px !important;
  }

  .contact-clickable img {
    height: 10vw !important;
  }
}
