body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url('../assets/Blog/BG-BLOG-WANCLOUDS.jpg') !important; */
  /* Background image is centered vertically and horizontally at all times */
  background-position: top center !important;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat !important;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover !important;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

.blog-content small {
  font-size: 1rem;
  font-family: "Jura";
  color: #066EAD;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  font-weight: 800;
}

.container {
  position: relative;
}

.main-photo img {
  margin-bottom: 1.45rem;
  margin-top: 1.45rem;
  width: 100%;
}

.blog-content {
  width: 69%;
  position: relative;
}

.wrapper h4 {
  font-family: "Russo One";
  color: #dfba2c;
  text-rendering: optimizeLegibility;
  font-size: 1.45rem;
  line-height: 1.1;
  letter-spacing: 3.3px;
  font-weight: 100;
  margin-bottom: 0;
}

.blog-content p {
  color: black;
  font-weight: 600;
  line-height: 1.6rem;
}

#title {
  position: absolute;
  top: 0vw;
  width: 100%;
  z-index: 0;
}