.nav-element{
    margin: 0.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-element p {
    position: absolute;
    text-align: center;
    z-index: 10;
}

.nav-logo {
    margin: 0;
    width: 2.7vw;
}

.hover {
    position: absolute;
}

#box-mobile {
    display: none;
}

@media (max-width: 414px) {

    .logo {
        left: 14%;
    }

    .logo-image {
        width: 31.5vw;
    }

    #box-desktop {
        display: none;
    }

    #box-mobile {
        display: inherit;
        cursor:'pointer';
    }
}