.main h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  /* margin-bottom: 1.45rem;
  color: inherit; */
  font-family: "Russo One";
  color: white;
  text-rendering: optimizeLegibility;
  font-size: 5vw;
  line-height: 3.5vw;
  letter-spacing: 3px;
}

span {
    display: inline-flex;
    display: flex;
    align-items: flex-start;
    /* margin-top: 0px; */
    margin-left: 9.5vw;
}

span h1 {
    /* margin-left: 5px; */
    margin: 0;
    margin-top: 2.9vw;
    margin-left: 0.4vw;
    font-size: 7vw;
}

.main {
    height: 36vw;
    max-width: 64.9vw;
    margin-left: 15vw;
}

.text {
    position: absolute;
    z-index: 6;
    top: 29.55vw;
    left: 19vw;
}

#white-circle1 {
    background-color: white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    opacity: 0.3;
    position: absolute;
    top: 24.6vw;
    left: 33vw;
}

#white-circle2 {
    background-color: white;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    opacity: 0.3;
    position: absolute;
    top: 36.15vw;
    left: 44vw;
    z-index: 5;
}

#white-circle3 {
    background-color: white;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    opacity: 0.3;
    position: absolute;
    top: 22.95vw;
    left: 27vw;
}

#white-circle4 {
    background-color: white;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    opacity: 0.3;
    position: absolute;
    top: 27.35vw;
    left: 21vw;
}

#white-circle5 {
    background-color: white;
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    opacity: 0.3;
    position: absolute;
    top: 21.3vw;
    left: 68vw;
}

#white-circle6 {
    background-color: white;
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    opacity: 0.3;
    position: absolute;
    top: 33.4vw;
    left: 72vw;
}

#white-circle7 {
    background-color: white;
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    opacity: 0.3;
    position: absolute;
    top: 25.7vw;
    left: 72vw;
}

#cloud {
    position: absolute;
    left: 42vw;
    top: 18.5vw;
    width: 39vw;
    z-index: 4;
}

/*  IPAD STYLES  */
@media (max-width: 1024px) {
    .main {
        height: 26vw;
    }

    .left {
        max-width: 63vw;
    }

    .left p {
        font-size: 1.70vw;
        line-height: 2.7vw;
    }
}

/*  MOBILE STYLES  */
@media (max-width: 414px) {
    .main {
        max-width: 100%;
        margin: 0px 0 49px 0;
        position: relative;
    }

    .left p {
        font-size: 3.9vw !important;
        line-height: 5.85vw !important;
    }

    .text {
        top: 50px;
        left: 30px;
    }

    .main h5 {
        font-size: 1.5rem;
        margin-bottom: 7px;
    }

    span {
        margin-top: 0;
        margin-left: 0;
    }


    span h5 {
        margin-left: 21px !important;
    }

    span h1 {
        margin-left: 0;
        margin: 0;
        margin-top: 12px;
        margin-left: 8px;
        font-size: 2.2rem;
    }

    #cloud {
        width: 55vw;
        left: 36%;
        top: 0%;
    }

    #white-circle1 {
        width: 30vw;
        height: 30vw;
        top: 16%;
        left: 19%;
    }

    #white-circle2 {
        width: 13vw;
        height: 13vw;
        top: 69%;
        left: 36%;
    }

    #white-circle3 {
        width: 15vw;
        height: 15vw;
        top: 6%;
        left: 12%;
    }

    #white-circle4 {
        width: 20vw;
        height: 20vw;
        top: 28%;
        left: 7%;
    }

    #white-circle5 {
        width: 16vw;
        height: 16vw;
        top: 4%;
        left: 72%;
    }

    #white-circle6 {
        width: 16vw;
        height: 16vw;
        top: 24%;
        left: 77%;
    }

    #white-circle7 {
        width: 16vw;
        height: 16vw;
        top: 58%;
        left: 77%;
    }
}