.left {
    max-width: 816px;
    margin-left: 15vw;
}

.left-blog {
    max-width: 816px;
    margin-left: 15vw;
}

.left h4 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1vw;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 3rem;
    font-family: "Jura";
    color: #4172aa;
    text-align: justify;
    font-size: 1.4rem;
}

.left-blog h4 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1vw;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 3rem;
    font-family: "Jura";
    color: #4172aa;
    text-align: justify;
    font-size: 1.4rem;
}

.left-blog p {
    color: black;
  }

.section-contact {
    margin: 0;
    margin-top: 9.3vw;
    margin-bottom: 9.3vw;
    padding: 0;
    display: flex;
    z-index: 4;
    position: relative;
}

.section-contact .left {
    max-width: 528px;
    margin-left: 20vw;
}

.section-contact .left-blog {
    max-width: 528px;
    margin-left: 20vw;
}

.info-line {
    display: flex;
    margin-bottom: -16px;
}

.info-line img {
    height: 2vw;
    margin-right: 1vw;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    margin-left: 0;
}

.click {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.click form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 61%;
}

.click input, .click textarea {
    border: none;
    background-color: white;
}

.click label {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #0D1C39;
}

@media (max-width: 414px) {
    .section-contact {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .info {
        width: 96%;
    }

    .info-line img {
        height: 7vw;
        margin-right: 5vw;
    }

    .click {
        height: 350px;
        width: 350px;
    }

    .click form {
        width: 70%;
    }

    .section-contact .left-blog {
        max-width: 100%;
        margin-left: 0;
    }
    
    .left-blog {
        max-width: 100%;
        margin-left: 0;
        padding: 0 34px;
    }
}
