body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url('../assets/Blog/BG-BLOG-WANCLOUDS.jpg') !important; */
  /* Background image is centered vertically and horizontally at all times */
  background-position: top center !important;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat !important;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover !important;
  
  /* Set a background color that will be displayed
     while the background image is loading */
}

ul {
  list-style: none;
  margin-left: 0;
}

#title {
  position: absolute;
  top: 0vw;
  width: 100%;
  z-index: 0;
}

#title-mobile {
  display: none;
}

.background {
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-space {
  height: 19vw;
  width: 100%;
}

.article-list {
  width: 60%;
  margin-top: 52px;
  margin-left: 0;
  position: relative;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 12.5em;
  background: #e1e1e1;
  margin: -1em -2.5em 1em;
  font-size: 2em;
  overflow: hidden;
}

/* Parallax Spheres */

.parallax-container {
  width: 100%;
  height: 100%;
}

.sphere {
  background-color: white;
  border-radius: 50%;
  opacity: 0.2;
  position: absolute;
  z-index: 0;
}

#about {
  width: 10vw;
  height: 10vw;
  top: 34vw;
  left: 12%;
}

#strategic {
  width: 15vw;
  height: 15vw;
  top: 65vw;
  left: 26%;
}

#partners {
  width: 9vw;
  height: 9vw;
  top: 111vw;
  left: 15%;
}

#profesional {
  width: 13vw;
  height: 13vw;
  top: 133vw;
  left: 48%;
}

#custom-sol {
  width: 13vw;
  height: 13vw;
  top: 200vw;
  left: 20%;
}

#right {
  width: 10vw;
  height: 10vw;
  top: 265vw;
  right: 13%;
}

#news {
  width: 9vw;
  height: 9vw;
  top: 329vw;
  left: 39%;
}

#last {
  width: 14vw;
  height: 14vw;
  top: 358vw;
  left: 15%;
}

@media (max-width: 414px) {
  #title {
      display: none;
  }

  #title-mobile {
      display: flex;
      padding: 20px;
      margin: 0;
  }

  .title-space {
    display: none;
  }

  .article-list {
    width: 100%;
    padding: 34px;
    margin: 0;
  }

  .round-image {
    height: auto !important;
    width: 100% !important;
    margin-top: -31px;
  }
  
  small {
    font-size: 100% !important;
    margin-top: 12px !important;
  }

  .preview-container-left {
    flex-direction: column-reverse !important;
  }
  
  .blog-info-left {
    width: 100% !important;
  }
  
  .blog-info-left h3 {
    font-size: 2.5rem !important;
  }
  
  .blog-info-left h4 {
    font-size: 1.3rem !important;
  }

  .body-preview-left {
    width: 100% !important;
    height: 189px !important;
  }

  .read-more-left {
    margin: 30px 0 -36px 0 !important;
    z-index: 3 !important;
  }

  .read-more-left p {
    font-size: 122% !important;
  }

  .preview-container-right {
    flex-direction: column-reverse !important;
  }
  
  .blog-info-right {
    width: 100% !important;
    margin-left: 0 !important;
  }
  
  .blog-info-right h3 {
    font-size: 2.5rem !important;
  }
  
  .blog-info-right h4 {
    font-size: 1.3rem !important;
  }

  .body-preview-right {
    width: 100% !important;
    height: 189px !important;
    margin-left: 0 !important;
  }

  .read-more-right {
    margin: 30px 0 -36px 0 !important;
    z-index: 3 !important;
  }

  .read-more-right p {
    font-size: 122% !important;
  }
}