.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative;
    left: 25%;
    padding-top: 3.4vw;
}

.nav {
    position: relative;
    right: 25.5%;
    padding-top: 2.5vw;
}

.logo-image {
    width: 13.5vw;
}

.nav-logo {
    margin: 0.6vw;
    width: 2.7vw;
}

@media (max-width: 414px) {

    .logo {
        left: 14%;
    }

    .logo-image {
        width: 31.5vw;
    }
}