.previewTitle {
  font-size: 1.5em;
}

.preview-container-left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 121px !important;
}

.preview-container-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 121px !important;
}

.body-preview-left {
  margin-top: 1.4vw;
  height: 9.2vw;
  width: 35vw;
  overflow: hidden;
}

.body-preview-right {
  margin-top: 1.4vw;
  height: 9.2vw;
  width: 35vw;
  margin-left: 3vw;
  overflow: hidden;
}

.round-image {
  width: 30%;
  height: 23vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.image-cropper {
  width: 17vw;
  height: 17vw;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.image-cropper img {
  height: 100%;
  object-fit: cover;
}

.blog-info-left {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.blog-info-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 62px;
}

.blog-info-left h3 {
  margin-bottom: 0;
}

.blog-info-left h4 {
  margin-bottom: 0;
  font-family: "Russo One";
  color: #dfba2c;
  text-rendering: optimizeLegibility;
  font-size: 1.6vw;
  line-height: 1.1;
  letter-spacing: 3.3px;
  font-weight: 100;
}

.blog-info-right h3 {
  margin-bottom: 0;
}

.blog-info-right h4 {
  margin-bottom: 0;
  font-family: "Russo One";
  color: #dfba2c;
  text-rendering: optimizeLegibility;
  font-size: 1.6vw;
  line-height: 1.1;
  letter-spacing: 3.3px;
  font-weight: 100;
}

.body-preview-left p {
  color: black;
  font-weight: 600;
}

.body-preview-right p {
  color: black;
  font-weight: 600;
}

.read-more-left {
  background-color: #066ead;
  width: 6vw;
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  align-self: flex-end;
  margin-top: 5vw;
  margin-right: 2vw;
}

.read-more-right {
  background-color: #066ead;
  width: 6vw;
  height: 6vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  -ms-flex-item-align: end;
  /* align-self: flex-end; */
  margin-top: 3.5vw;
  margin-left: -3vw;
  /* margin-right: 69px; */
}

.read-more-left p {
  text-align: center;
}

.read-more-left a {
  color: white;
}

.read-more-right p {
  text-align: center;
}

.read-more-right a {
  color: white;
}

small {
  font-size: 1vw;
  font-family: "Jura";
  color: #066EAD;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #DBB127;
}


/*  IPAD STYLES */
@media (max-width: 768px) {
  .preview-container-left {
    margin-bottom: 78px !important;
  }

  .preview-container-right {
    margin-bottom: 78px !important;
  }

  .article-list {
    margin-top: -15px;
    width: 78%;
  }

  .blog-info-left {
    width: 60% !important;
  }

  .blog-info-left h4 {
    font-size: 1.1rem !important;
  }

  .blog-info-right {
    width: 60% !important;
    margin-left: 32px;
  }

  .blog-info-right h4 {
    font-size: 1.1rem !important;
  }

  .blog-info-right h3 {
    margin-bottom: 0;
    margin-left: -3vw;
  }

  .body-preview-left {
    width: 40vw !important;
  }

  .body-preview-right {
    width: 40vw !important;
  }

  .round-image {
    width: 40% !important;
    height: 291px !important;
  }

  .image-cropper {
    width: 33vw !important;
    height: 33vw !important;
  }

  .read-more-left {
    width: 9vw !important;
    height: 9vw !important;
    margin-top: 3vw !important;
    margin-right: 5vw !important;
  }

  .read-more-left p {
    text-align: center !important;
    font-size: 2.25vw !important;
  }

  .read-more-right {
    width: 9vw !important;
    height: 9vw !important;
    margin-top: 3vw !important;
    margin-right: 5vw !important;
  }

  .read-more-right p {
    text-align: center !important;
    font-size: 2.25vw !important;
  }

}

/*  MOBILE STYLES  */
@media (max-width: 414px) {
  #title {
      display: none;
  }

  #title-mobile {
      display: flex;
      padding: 20px;
      margin: 0;
  }

  .title-space {
    display: none;
  }

  .article-list {
    width: 100% !important;
    padding: 34px !important;
    margin: 0 !important;
  }

  .round-image {
    height: auto !important;
    width: 100% !important;
    margin-top: 0;
  }
  
  small {
    font-size: 100% !important;
    margin-top: 12px !important;
  }

  .preview-container-left {
    flex-direction: column-reverse !important;
  }
  
  .blog-info-left {
    width: 100% !important;
  }
  
  .blog-info-left h3 {
    font-size: 2.5rem !important;
  }
  
  .blog-info-left h4 {
    font-size: 1.3rem !important;
  }

  .body-preview-left {
    width: 100% !important;
    height: 189px !important;
  }

  .read-more-left {
    margin: 30px 0 -36px 0 !important;
    z-index: 3 !important;
    width: 20vw !important;
    height: 20vw !important;
  }

  .read-more-left p {
    font-size: 122% !important;
  }

  .preview-container-right {
    flex-direction: column-reverse !important;
  }
  
  .blog-info-right {
    width: 100% !important;
    margin-left: 0 !important;
  }
  
  .blog-info-right h3 {
    font-size: 2.5rem !important;
  }
  
  .blog-info-right h4 {
    font-size: 1.3rem !important;
  }

  .body-preview-right {
    width: 100% !important;
    height: 189px !important;
    margin-left: 0 !important;
  }

  .read-more-right {
    margin: 30px 0 -36px 0 !important;
    z-index: 3 !important;
    width: 20vw !important;
    height: 20vw !important;
  }

  .read-more-right p {
    font-size: 122% !important;
  }

  .image-cropper {
    width: 62vw !important;
    height: 62vw !important;
  }
}