.custom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 102px 0;
    position: relative;
}

#custom-solutions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 61%;
    margin-top: 18px;
}

.custom-name {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 28vw;
}

.drawing {
    margin: 67px 0;
    position: relative;
}

.drawing img {
    width: 100%;
    max-width: none;
}

.custom-name h3 {
    margin: 0;
    margin-left: -135px;
}

#custom-solutions h5 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
    color: inherit;
    font-family: "Russo One";
    color: white;
    text-rendering: optimizeLegibility;
    font-size: 1.1vw;
    font-weight: 100;
    line-height: 1.1;
    letter-spacing: 3px;
}

#custom-solutions h4 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1vw;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    font-family: "Jura";
    color: #0573ad;
    text-align: justify;
    font-size: 2.2vw;
    text-decoration: underline;
}

.expertise-squres {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin: 20px 0;
}

.expertise {
    background-color: #0573ad;
    margin: 0.3vw;
    height: 10vw;
    width: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}

.expertise ul {
    list-style: none;
    margin: 0;
}

.expertise li {
    list-style: none;
    margin: 0;
    margin-bottom: 0.1vw;
    font-family: "Jura";
    color: white;
    text-align: center;
    font-size: 1.05vw;
}

.label {
    position: absolute;
}

.drawing h6 {
    color: #ecbb01;
    font-family: "Jura";
    font-weight: 600;
    font-size: 150%;
    margin: 0;
    margin-top: 4vw;
}

.concept {
    bottom: 13%;
    left: 8%;
}

.application {
    bottom: 13%;
    right: 10%;
}

.design {
    bottom: 44%;
    left: 22%;
}

.logistics {
    bottom: 44%;
    right: 22%;
}

.manufacture {
    bottom: 56%;
    left: 41%;
}

@media (max-width: 414px) {
    .custom-container {
        margin: 33px 0;
    }
    
    .custom-name {
        position: initial;
    }

    .custom-name h3 {
        font-size: 2rem;
        margin-bottom: 0;
        margin-left: 0;
    }

    .custom-name h2 {
        font-size: 2.8rem;
    }

    #custom-solutions {
        width: 100%;
        margin-top: 30px;
        padding: 0 34px;
    }

    #custom-solutions h4 {
        font-size: 6.2vw;
    }

    #custom-solutions h5 {
        font-size: 4.1vw;
        text-align: center;
    }

    .drawing h6 {
        font-size: 71%;
    }

    .custom-name {
        width: 100%;
        align-items: center;
        padding: 0;
        margin-left: 0;
    }

    .expertise-squres {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        padding: 0px 10px;
    }

    .expertise {
        height: 225px;
        width: 234px;
        padding: 23px;
    }

    .expertise li {
        list-style: none;
        margin: 0;
        margin-bottom: 3.1vw;
        font-family: "Jura";
        color: white;
        text-align: center;
        font-size: 4.05vw;
    }
}